.button {
  display: inline-block;
  padding: .5rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background-color: #BB000E;
  cursor: pointer;
  border: none;
  width: fit-content;
  border-radius: 2px;
  transition: all .2s ease;
}

.button:hover {
  background-color: #cb121f;
}

.icon {
  margin-right: .5rem;
}