.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #222;
}

.main_section {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.main_content {
  width: 100%;
}

.filter_section {
  width: 100%;
  padding: 3.5rem 3rem 0;
}